<div id="arch-cas">
  <md-content class="md-padding">
    <div class="title">
      <span class="title_first">{{'TITLE_WELCOME' | translate}}</span>
      <span>{{'TITLE_SERVICE' | translate}}</span>
    </div>

    <div ng-messages="$error">
      <div class="ng-message-error"ng-message="init">{{'ERROR_INIT' | translate}}</div>
      <div class="ng-message-error" ng-message="login">{{'ERROR_LOGIN' | translate}}</div>
    </div>

    <div ng-messages="$success">
      <div class="ng-message-success" ng-message="alreadylogin">{{'ALREADY_CONNECTED' | translate}}</div>
      <div class="ng-message-success" ng-message="login">{{'SUCCESS_LOGIN' | translate}}</div>
      <div class="ng-message-success" ng-message="loginRedirect">{{'SUCCESS_LOGIN_REDIRECT' | translate}}</div>
    </div>

    <form name="loginForm" ng-hide="alreadyLogged" ng-submit="login()">
      <md-input-container md-no-float>
        <label>{{'INPUT_USERNAME' | translate}}</label>
        <input name="username" type="email" ng-model="username">
      </md-input-container>
      <md-input-container md-no-float>
        <label>{{'INPUT_PASSWORD' | translate}}</label>
        <input name="password" type="password" ng-model="password">
      </md-input-container>
      <md-input-container md-no-float>
        <md-button class="md-raised md-primary login-button">{{'INPUT_LOGIN' | translate}}</md-button>
      </md-input-container>
    </form>

    <form name="loginForm" ng-show="alreadyLogged" ng-submit="logout()">
      <md-input-container md-no-float>
        <md-button  class="md-raised md-primary logout-button">{{'INPUT_LOGOUT' | translate}}</md-button>
      </md-input-container>
    </form>
  </md-content>
</div>
