[layout=row] {
  flex-direction: row;
}

.main-content
{
  height:100vh;
  background: url(../assets/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}
