<div id="arch-cas">
  <md-content class="md-padding">
    <div class="title">
      <span class="title_first">{{'TITLE_WELCOME' | translate}}</span>
      <span>{{'TITLE_SERVICE' | translate}}</span>
    </div>

    <form ng-submit="login()">
      <md-input-container md-no-float>
        <label>{{'INPUT_USERNAME' | translate}}</label>
        <input name="username" type="email" ng-model="username">
      </md-input-container>
      <md-input-container md-no-float>
        <label>{{'INPUT_PASSWORD' | translate}}</label>
        <input name="password" type="password" ng-model="password">
      </md-input-container>
      <md-input-container md-no-float>
        <md-button class="md-raised md-primary login-button">{{'INPUT_LOGIN' | translate}}</md-button>
      </md-input-container>
    </form>
  </md-content>
</div>


