<div id="arch-cas-forget">
  <md-content class="md-padding">
    <div class="title">
      <span class="title_first">{{'TITLE_WELCOME' | translate}}</span>
      <span>{{'TITLE_SERVICE' | translate}}</span>
    </div>

    <p>{{'TITLE_FORGET_PASSWORD' | translate}}</p>

    <div ng-messages="$error">
      <div class="ng-message-error" ng-message="email">{{'ERROR_EMAIL' | translate}}</div>
    </div>

    <div ng-messages="$success">
      <div class="ng-message-success" ng-message="alreadylogin">{{'ALREADY_CONNECTED' | translate}}</div>
      <div class="ng-message-success" ng-message="resetPassword">{{'SUCCESS_RESET_PASSWORD' | translate}}</div>
    </div>

    <form name="resetForm" ng-hide="alreadyLogged" ng-submit="resetPassword()">
      <md-input-container md-no-float>
        <label>{{'INPUT_USERNAME' | translate}}</label>
        <input name="username" type="email" ng-model="username">
      </md-input-container>
      <md-input-container md-no-float>
        <md-button class="md-raised md-primary login-button">{{'SEND_NEW_PASSWORD' | translate}}</md-button>
        <md-button class="md-raised back-button" ng-click="linkLogin()">{{'BACK' | translate}}</md-button>
      </md-input-container>
    </form>
  </md-content>
</div>
